<h3 class="h3Title">Users List</h3>

<div class="container">
  {{#each users}}
    <div class="item">
      <h4>{{this.name}}</h4>
      <p>{{this.occupation}}</p>
      <div class="actions">
        <a href="/users/details{{this.id}}" class="details-btn">See Details</a>
        <a href="/users/edit/{{this.id}}" class="edit-btn">Edit</a>
        <form action="/users/delete/{{this.id}}" method="post">
          <input type="submit" value="Delete" class="delete-btn" />
        </form>

      </div>
    </div>
  {{/each}}
</div>