<div>
  {{! WORKING WITH THE 'WITH' PROPERTY }}
  <h5>'WITH': Simplifying refrencing large objects</h5>
  {{#with objLecture}}
    <h6>Lecture title:
      <span
        style="text-decoration: underline;
        font-weight: 700;
         color: darkolivegreen;"
      >'{{title}}</span>'</h6>
    <ul>
      <li>Description__: {{description}}</li>
      <li>Panelist_____: {{panelist}}</li>
      <li>Cost_________: {{cost}}</li>
      <li>Location_____: {{location}}</li>
    </ul>
  {{/with}}
</div>
<hr />
<div>
  {{! ITEMS IN AN ARRAY }}
  <h5>List of items with 'EACH':</h5>
  <ul>
    {{#each arrItems}}
      <li>{{this.name}} - US$ {{this.price}}</li>
    {{/each}}
  </ul>
</div>
<hr />
<div>
  {{! CONDITIONAL VARIABLE }}
  <h5>Authentication:</h5>
  {{#if auth}}
    <p>You <span style="color:green">are</span> authenticated.</p>
    <p><span href="/dashboard">Click here</span> to access restricted area.</p>
  {{else}}
    <p>You are
      <span style="color:red">NOT</span>
      authenticated</p>
  {{/if}}
</div>
<hr />
<div>
  {{! DINAMIC TEXT FROM OBJECT }}
  <h5>Dinamic Object:</h5>
  <span>The user name is: {{webData.name}}</span><br />
  <span>His last name is: {{webData.surename}}</span>
</div>
<hr />
<div>
  {{! DINAMIC TEXT FROM VARIABLE }}
  <h5>Dinamic Text:</h5>
  <span>Produto: {{produto}}</span>
</div>
<hr />
<div>
  {{! FIXED TEXT }}
  <h5>Fixed text on home:</h5>

  <p class="text-justify">My Text. Lorem Ipsum é simplesmente uma simulação de
    texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o
    século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os
    embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu
    não só a cinco séculos, como também ao salto para a editoração eletrônica,
    permanecendo essencialmente inalterado. Se popularizou na década de 60,
    quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais
    recentemente quando passou a ser integrado a softwares de editoração
    eletrônica como Aldus PageMaker.</p>
</div>